*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/UnitTesting-TestExamples/target/
/UnitTesting-TestExamples/nbproject/
/UnitTest-Practice/nbproject/private/
/UnitTest-Practice/nbproject/
/UnitTest-Practice/target/
UnitTest-Practice-Resolved/nbproject/
UnitTest-Practice-Resolved/target/
.DS_Store
